*.mat-body {
  cursor: default;
}

.row.project-title {
  margin-left: 0;
  margin-right: 0;
}

.project-title {
  mat-icon {
      margin-right: 10px;
  }
  .project-icon {
      vertical-align: top;
      height: 48px;
      width: 48px;
      img {
        height: 48px;
        width: 48px;
      }
  }
}

.mat-display-2 {
  margin-bottom: 20px;
  overflow: hidden;
}
