<div class="page-header">
  <div class="page-header-image" [style.background-image]="imageURL"></div>
  <div class="container">
    <div class="content-center">
      <div class="cc-profile-image"><a><img src="../../../../assets/pictures/me.jpg" alt="Image"/></a></div>
      <div class="mat-display-3">Himanshu Mittal</div>
      <div class="mat-title">Developer, Student, Geek</div>
      <button type="button" mat-flat-button color="primary">Hire me</button>
      <button type="button" mat-flat-button color="primary">Resume</button>
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="https://github.com/himittal09" rel="noreferrer" target="_blank" aria-label="Github Profile of Himanshu Mittal" matTooltip="Github Profile of Himanshu Mittal">
          <button mat-fab>
            <mat-icon aria-hidden="false" aria-label="Github Icon" svgIcon="GitHub_Icon" class="btn-github"></mat-icon>
          </button>
        </a>
        <a href="https://www.hackerrank.com/himittal09" rel="noreferrer" target="_blank" aria-label="Hackerrank Profile of Himanshu Mittal" matTooltip="Hackerrank Profile of Himanshu Mittal">
          <button mat-fab>
            <mat-icon aria-hidden="false" aria-label="Hackerrank Icon" svgIcon="Hackerrank_Icon" class="btn-hackerrank"></mat-icon>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/himanshu-mittal-ba8465143/" rel="noreferrer" target="_blank" aria-label="LinkedIn Profile of Himanshu Mittal" matTooltip="LinkedIn Profile of Himanshu Mittal">
          <button mat-fab>
            <mat-icon aria-hidden="false" aria-label="LinkedIn Icon" svgIcon="LinkedIn_Icon" class="btn-linkedin"></mat-icon>
          </button>
        </a>
        <a href="https://stackoverflow.com/users/6152976/himanshu-mittal" rel="noreferrer" target="_blank" aria-label="StackOverflow Profile of Himanshu Mittal" matTooltip="StackOverflow Profile of Himanshu Mittal">
          <button mat-fab>
            <mat-icon aria-hidden="false" aria-label="StackOverflow Icon" svgIcon="StackOverflow_Icon" class="btn-stackoverflow"></mat-icon>
          </button>
        </a>
        <a href="mailto:himittal09@gmail.com" target="_top" aria-label="Email of Himanshu Mittal" matTooltip="Email Himanshu Mittal">
          <button mat-fab>
            <mat-icon aria-hidden="false" aria-label="Email Icon" class="btn-email">email</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </div>

</div>

<div class="section">
  <div class="container">
    <mat-card>
      <main id="main">
        <mat-tab-group mat-stretch-tabs color="primary" dynamicHeight>
          <mat-tab label="Home">
            <ng-template matTabContent>
              <app-home-tab></app-home-tab>
            </ng-template>
          </mat-tab>
          <mat-tab label="Projects">
            <ng-template matTabContent>
              <app-projects-tab></app-projects-tab>
            </ng-template>
          </mat-tab>
          <mat-tab label="Key Expertise">
            <ng-template matTabContent>
              <app-expertise-tab></app-expertise-tab>
            </ng-template>
          </mat-tab>
          <mat-tab label="Achievements">
            <ng-template matTabContent>
              <app-achievements-tab></app-achievements-tab>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </main>
    </mat-card>
  </div>
</div>