<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="../assets/pictures/me.jpg" alt="Himanshu Mittal">
      </div>
      <mat-card-content class="col-sm-12 col-md-6 col-lg-8">
        <mat-divider [vertical]="true"></mat-divider>
        <h1 class="mat-h1">Himanshu Mittal</h1>
        <mat-divider></mat-divider>
        <a href="https://github.com/himittal09" target="_blank" aria-label="Github Profile of Himanshu Mittal">
          <mat-icon aria-hidden="false" aria-label="Github Icon" svgIcon="GitHub_Icon"></mat-icon>
        </a>
        <a href="https://www.hackerrank.com/himittal09" target="_blank" aria-label="Hackerrank Profile of Himanshu Mittal">
          <mat-icon aria-hidden="false" aria-label="Hackerrank Icon" svgIcon="Hackerrank_Icon"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/himanshu-mittal-ba8465143/" target="_blank" aria-label="LinkedIn Profile of Himanshu Mittal">
          <mat-icon aria-hidden="false" aria-label="LinkedIn Icon" svgIcon="LinkedIn_Icon"></mat-icon>
        </a>
        <a href="https://stackoverflow.com/users/6152976/himanshu-mittal" target="_blank" aria-label="StackOverflow Profile of Himanshu Mittal">
          <mat-icon aria-hidden="false" aria-label="StackOverflow Icon" svgIcon="StackOverflow_Icon"></mat-icon>
        </a>
      </mat-card-content>
    </div>
  </mat-card>
</div>