<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="../assets/pictures/me.jpg" alt="Himanshu Mittal">
      </div>
      <mat-card-content class="col-sm-12 col-md-6 col-lg-8">
        <mat-divider [vertical]="true"></mat-divider>
        <h1 class="mat-h1">Himanshu Mittal</h1>
        <mat-divider></mat-divider>

        <mat-nav-list>
          <div mat-list-item>
            <strong>Github</strong>
            <a href="https://github.com/himittal09" target="_blank" aria-label="Github Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="Github Icon" svgIcon="GitHub_Icon"></mat-icon>
            </a>
          </div>
          <div mat-list-item>
            <strong>Hackerrank</strong>
            <a href="https://www.hackerrank.com/himittal09" target="_blank" aria-label="Hackerrank Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="Hackerrank Icon" svgIcon="Hackerrank_Icon"></mat-icon>
            </a>
          </div>
          <div mat-list-item>
            <strong>LinkedIn</strong>
            <a href="https://www.linkedin.com/in/himanshu-mittal-ba8465143/" target="_blank" aria-label="LinkedIn Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="LinkedIn Icon" svgIcon="LinkedIn_Icon"></mat-icon>
            </a>
          </div>
          <div mat-list-item>
            <strong>StackOverflow</strong>
            <a href="https://stackoverflow.com/users/6152976/himanshu-mittal" target="_blank" aria-label="StackOverflow Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="StackOverflow Icon" svgIcon="StackOverflow_Icon"></mat-icon>
            </a>
          </div>
          <div mat-list-item>
            <strong>Email: </strong>
            <a href="mailto:himittal09@gmail.com" target="_blank" aria-label="StackOverflow Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="StackOverflow Icon" svgIcon="StackOverflow_Icon"></mat-icon>
            </a>
          </div>
          <div mat-list-item>

          </div>
        </mat-nav-list>

      </mat-card-content>
    </div>
  </mat-card>
</div>