<div class="container">
  <div class="row">
    
    <div class="col-12 offset-sm-1 col-sm-10">
      <div class="mat-display-3">About</div>
      <div class="mat-body">Hello! I am Himanshu Mittal. Web Developer, Low level Programmer and Cookie Eater.</div>
      <div class="mat-body">I'm an albatross</div>
    </div>

    <div class="col-12 offset-sm-1 col-sm-10">
      <div class="mat-display-3">Basic Information</div>
      <div class="row">
        <div class="col-4 col-sm-2"><strong>Age:</strong></div>
        <div class="col-8 col-sm-10">{{age}}</div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-2"><strong>Email:</strong></div>
        <div class="col-8 col-sm-10">himittal09@gmail.com</div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-2"><strong>Phone:</strong></div>
        <div class="col-8 col-sm-10">+91 8103-755-186</div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-2"><strong>Address:</strong></div>
        <div class="col-8 col-sm-10">Chhattisgadh, CG, India</div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-2"><strong>Language:</strong></div>
        <div class="col-8 col-sm-10">Hindi (native), English, Chhattisgadhi</div>
      </div>
    </div>

  </div>
</div>
