<div class="container">
  <div class="row">
    
    <div class="col-lg-6 col-md-12">
      <div class="mat-display-1">About</div>
      <div class="mat-body">Hello! I am Himanshu Mittal. Web Developer, Graphic Designer and Photographer.</div>
      <div class="mat-body">I'm an albatross</div>
    </div>

    <div class="col-lg-6 col-md-12">
      <div class="mat-display-1">Basic Information</div>
      <div class="row">
        <div class="col-4"><strong>Age:</strong></div>
        <div class="col-8">23</div>
      </div>
      <div class="row">
        <div class="col-4"><strong>Email:</strong></div>
        <div class="col-8">himittal09@gmail.com</div>
      </div>
      <div class="row">
        <div class="col-4"><strong>Phone:</strong></div>
        <div class="col-8">+91 8103-755-186</div>
      </div>
      <div class="row">
        <div class="col-4"><strong>Address:</strong></div>
        <div class="col-8">Chhattisgadh, CG, India</div>
      </div>
      <div class="row">
        <div class="col-4"><strong>Language:</strong></div>
        <div class="col-8">Hindi (native), English, Chhattisgadhi</div>
      </div>
    </div>

  </div>
</div>
