<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12">
      <mat-card class="mat-elevation-z5">
        <mat-card-header>
          <div class="mat-display-1">Contact</div>
        </mat-card-header>
        <img src="../../../assets/pictures/contact-image.webp" alt="Contact Image">
        <mat-card-content>
          <div class="row">
            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
              <mat-list>
                <mat-list-item>
                  <mat-icon aria-hidden="true" aria-label="Email Icon">email</mat-icon>
                  <a href="mailto:himittal09@gmail.com" target="_top" aria-label="Email of Himanshu Mittal" matTooltip="Email Himanshu Mittal">
                    <div class="mat-line mat-body">himittal09@gmail.com</div>
                  </a>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon aria-hidden="true" aria-label="Phone Icon">phone</mat-icon>
                  <a href="tel:+918103755186" target="_top" aria-label="Contact Number of Himanshu Mittal" matTooltip="Call Himanshu Mittal">
                    <div class="mat-line mat-body">+91-81037-55186</div>
                  </a>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon aria-hidden="true" aria-label="Address Icon">home</mat-icon>
                  <div class="mat-line mat-body">Maa Sharda Traders, Janjgir, Janjgir-Champa, 495668</div>
                </mat-list-item>
              </mat-list>
              <div class="asdf">
                <div class="line-container">
                  <button mat-mini-fab color="accent" aria-hidden="true" [disableRipple]="true">OR</button>
                </div>
              </div>
              <form #queryform="ngForm" (ngSubmit)="onSubmit(queryform)">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput
                        type="text"
                        required
                        maxlength="100"
                        ngModel
                        name="name"
                        autocomplete="name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput
                        type="email"
                        required
                        maxlength="100"
                        ngModel
                        name="email"
                        autocomplete="email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Subject</mat-label>
                  <input matInput
                        type="text"
                        required
                        maxlength="100"
                        ngModel
                        name="subject">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Enter Note</mat-label>
                  <textarea matInput
                            placeholder="Ex. My query was regarding..."
                            required
                            maxlength="1000"
                            ngModel
                            name="query"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="15"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>