.container {
  @media (max-width: 767px) {
    padding-top: 16px;
  }
  @media (min-width: 768px) {
    padding-top: 24px;
  }
}

mat-card {
  padding: 0;
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  mat-card-header {
    .mat-display-1 {
      margin: 10px 0;
    }
  }
  mat-card-content {
    padding: 16px;
    textarea {
      resize: vertical;
    }
    mat-list-item {
      mat-icon {
        margin-right: 5px;
      }
      .mat-body {
        cursor: default;
      }
    }
    .asdf {
      display: table;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      .line-container {
        margin: 15px auto;
        button {
          box-shadow: none;
          cursor: default;
        }
      }
      .line-container:before,.line-container:after{
        content:" ";
        width: calc(50% - 40px);
        height: 1px;
        margin: 0;
        vertical-align: super;
        background-color:grey;
        display: inline-block;
      }
      .line-container:before {
        margin-right: 10px;
      }
      .line-container:after {
        margin-left: 10px;
      }
    }
    .example-full-width {
      width: 100%;
      max-width: 1000px;
    }
  }
}