<div *ngIf="achievements.length === 0">
  <img [src]="memeLink" alt="No Achievements to display" class="noach">
</div>

<div class="row">
  <div class="col-sm-12 offset-md-1 col-md-10">
    <mat-card *ngFor="let achievement of achievements">
      <div class="row">
        <div class="col-8 col-sm-10">
          <div class="mat-h3 titlep">{{achievement.title}}</div>
          <div class="mat-body yearp">- {{achievement.year}}</div>
        </div>
        <div class="col-4 col-sm-2 wraptocenter">
          <div *ngIf="achievement.cretificateLink; else elseBlock cblock">
            <a [href]="achievement.cretificateLink" target="_blank">
              <img align="center" [src]="achievement.cretificateLink" alt="Image">
            </a>
          </div>
          <ng-template #elseBlock class="cblock">No Certificate to display</ng-template>
        </div>
      </div>
    </mat-card>
  </div>
</div>