<div class="container one-blog-holder">
  <div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-1 col-md-10 col-sm-12">
      <mat-card *ngIf="blog; else noBlog">
        <mat-card-header>
          <mat-card-title>{{blog.title}}</mat-card-title>
          <mat-card-subtitle>{{preetyDate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <markdown [data]="blog.body" ngPreserveWhitespaces></markdown>
        </mat-card-content>
        <mat-card-footer>
          <div class="likesCount mat-subheading-2">{{blog.likes}}</div>
          <button type="button" [disabled]="blogPostLiked" color="primary" mat-raised-button (click)="likeBlogPost()">
            <mat-icon aria-hidden="true">favorite</mat-icon> Like
          </button>
          <!-- TODO: add a share button which copies the current url to clipboard -->
        </mat-card-footer>
      </mat-card>
      <ng-template #noBlog>
        <mat-card>
          <div class="mat-title">
            <p>Sorry Friend! This blog doesn't exist yet.</p>
            <p>Wait for some time. Who knows, he might write one ;)</p>
          </div>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>