div.one-blog-holder {
  @media (max-width: 767px) {
    padding-top: 16px;
  }
  @media (min-width: 768px) {
    padding-top: 24px;
  }
  mat-card-content {
    margin-top: 16px;
  }
  mat-card-footer {
    white-space: nowrap;
    margin: 0;
    .likesCount {
      margin-right: 16px;
      margin-bottom: 0;
    }
    & > * {
      display: inline-block;
    }
  }
  &:before {
    background-size: cover;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('/../../../assets/pictures/blog_background.webp');
    will-change: transform;
    content: '';
    background-attachment: fixed;
    position: fixed;
  }
}
