<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar><a [routerLink]="['/']">Himanshu Mittal</a></mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="#">About</a> -->
      <a mat-list-item [routerLink]="['blog']">Blog</a>
      <a mat-list-item [routerLink]="['contact']">Contact</a>
      <a mat-list-item (click)="changeTheme()">
        <mat-icon aria-hidden="false" svgIcon="sun_icon" *ngIf="!isDayTheme"></mat-icon>
        <mat-icon aria-hidden="false" svgIcon="moon_icon" *ngIf="isDayTheme"></mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a [routerLink]="['/']">Himanshu Mittal</a></span>
      <span class="left-spacer"></span>
      <mat-nav-list class="horizontal-list" *ngIf="(isHandset$ | async) === false">
        <!-- <a mat-flat-button href="#">About</a> -->
        <a mat-flat-button [routerLink]="['contact']">Contact</a>
        <a mat-flat-button [routerLink]="['blog']">Blog</a>
        <button mat-icon-button (click)="changeTheme()">
          <mat-icon aria-hidden="false" svgIcon="sun_icon" *ngIf="!isDayTheme"></mat-icon>
          <mat-icon aria-hidden="false" svgIcon="moon_icon" *ngIf="isDayTheme"></mat-icon>
        </button>
      </mat-nav-list>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
