.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

.left-spacer {
  flex-grow: 1;
  margin-left: auto;
}

mat-nav-list.horizontal-list {
  a {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
  }
}