div.blog-list {
  @media (min-width: 768px) {
    padding-top: 8px !important;
  }
  &:before {
    background-size: cover;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('/../../../assets/pictures/blog_background.webp');
    will-change: transform;
    content: '';
    background-attachment: fixed;
    position: fixed;
  }
  .loadMoreButton {
    text-align: center;
  }
  mat-card {
    margin-top: 16px;
    margin-bottom: 16px;
    &.blogDisplayCard {
      max-height: 20vh;
      cursor: pointer;
      & > * {
        text-overflow: ellipsis;
      }
    }
  }
}