<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    
    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mat-display-1">About</div>
      <div class="mat-body">Hello! I am Himanshu Mittal. Web Developer, Graphic Designer and Photographer.</div>
      <div class="mat-body">I'm an albatross</div>
    </div>

    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mat-display-1">Basic Information</div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4"><strong>Age:</strong></div>
        <div class="mdc-layout-grid__cell--span-8">23</div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4"><strong>Email:</strong></div>
        <div class="mdc-layout-grid__cell--span-8">himittal09@gmail.com</div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4"><strong>Phone:</strong></div>
        <div class="mdc-layout-grid__cell--span-8">+91 8103-755-186</div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4"><strong>Address:</strong></div>
        <div class="mdc-layout-grid__cell--span-8">Chhattisgadh, CG, India</div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4"><strong>Language:</strong></div>
        <div class="mdc-layout-grid__cell--span-8">Hindi (native), English, Chhattisgadhi</div>
      </div>
    </div>

  </div>
</div>
