<div class="mdc-layout-grid">
  
  <app-project-container
    projectTitle="Productivity Tracker"
    projectLink="https://github.com/himittal09/mca-II-project"
    starCount="0"
    forkCount="0"
    description="Here Goes some descrription"
    iconName="productivity_tracker_icon"
    iconType="svg"
    projectType="C++ console based application"
    madeDuring="MCA II"
    projectStack="C++"
    class="itemcontainer">
  </app-project-container>

  <app-project-container
    projectTitle="Exam Analysis System"
    projectLink="https://github.com/himittal09/Final-Year-Project"
    starCount="0"
    forkCount="0"
    description="Here Goes some descrription"
    iconName="exam_analysis_icon"
    iconType="svg"
    projectType="C++ console based application"
    madeDuring="MCA II"
    projectStack="C++"
    class="itemcontainer">
  </app-project-container>

  <app-project-container
    projectTitle="Himanshu Portfolio"
    projectLink="https://github.com/himittal09/himittal09.github.io"
    starCount="0"
    forkCount="0"
    description="Here Goes some descrription"
    iconName="icon-512x512"
    iconType="png"
    projectType="C++ console based application"
    madeDuring="MCA II"
    projectStack="MEAN"
    class="itemcontainer">
  </app-project-container>

  <app-project-container
    projectTitle="Node Chat App"
    projectLink="https://github.com/himittal09/node-chat-app"
    starCount="0"
    forkCount="0"
    description="Here Goes some descrription"
    iconName="chat_icon"
    iconType="svg"
    projectType="C++ console based application"
    madeDuring="MCA II"
    projectStack="C++"
    class="itemcontainer">
  </app-project-container>

</div>