@use '~@angular/material' as mat;
@import "./assets/css/bootstrap-grid.scss";

html {
	height: 100%;
	box-sizing: border-box;
	font-display: swap !important;
}

body {
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-display: swap !important;
	transition:
		color 0.5s ease,
		background-color 0.5s ease;
}

div {
	transition:
		width 0.5s ease,
		height 0.5s ease;
}

mat-card {
	border-radius: 0 !important;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

@import '~@angular/material/theming';
@import './themes.scss';
@import 'app/home/home.component';

@include mat.core();

// add all/any material components that you use here,
// otherwise the theming wont be applied to that angular component
@mixin my-components-theme ($theme) {
  @include mat.button-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.card-theme($theme);
  @include mat.tooltip-theme($theme);
  @include mat.chips-theme($theme);
  @include mat.tabs-theme($theme);
  @include mat.dialog-theme($theme);
  @include mat.divider-theme($theme);
  @include mat.progress-bar-theme($theme);
  @include mat.input-theme($theme);
	@include mat.core-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.list-theme($theme);
  @include mat.sidenav-theme($theme);
  @include mat.toolbar-theme($theme);
}

// include the project level components here
@mixin my_custom_theme_mixin ($theme) {
	@include my-components-theme($theme);
	@include home-component-theme($theme);
}

// we include color, typography and density globally
// then we define custom color for each theme later
@include my_custom_theme_mixin($my-theme);

.my-dark-theme {
	@include mat.button-color($my-dark-theme);
	@include mat.icon-color($my-dark-theme);
	@include mat.card-color($my-dark-theme);
	@include mat.tooltip-color($my-dark-theme);
	@include mat.chips-color($my-dark-theme);
	@include mat.tabs-color($my-dark-theme);
	@include mat.dialog-color($my-dark-theme);
	@include mat.divider-color($my-dark-theme);
	@include mat.progress-bar-color($my-dark-theme);
	@include mat.input-color($my-dark-theme);
	@include mat.core-color($my-dark-theme);
	@include mat.form-field-color($my-dark-theme);
	@include mat.list-color($my-dark-theme);
	@include mat.sidenav-color($my-dark-theme);
	@include mat.toolbar-color($my-dark-theme);
	
	// include the project level components here
	@include home-component-theme($my-dark-theme);

	img:not([src*=".svg"]) {
		filter: grayscale(50%);
	}
}