<div class="page-header-image" [style.background-image]="imageURL"></div>

<div class="no-pad-top container">
  <div class="row">
    <div class="col-lg-4 col-xl-3 col-md-12 info-card-home bottom-offset">
      <mat-card>
        <mat-card-header>
          <div class="profile-image-section">
            <img src="../../../../assets/pictures/me.webp" alt="Image"/>
          </div>
          <div class="mat-h2 name">Himanshu Mittal</div>
          <div class="mat-h4 role">Developer, Student, Geek</div>
          <div class="mat-h4 location">
            <span class="mat-h4">
              <mat-icon aria-hidden="true">place</mat-icon>
              Janjgir, C.G.
            </span>
          </div>
          <div class="mat-h3 social">
            <a href="https://github.com/himittal09" rel="noreferrer" target="_blank" aria-label="Github Profile of Himanshu Mittal" matTooltip="Github Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="Github Icon" svgIcon="GitHub_Icon" class="btn-github"></mat-icon>
            </a>
            <a href="https://www.hackerrank.com/himittal09" rel="noreferrer" target="_blank" aria-label="Hackerrank Profile of Himanshu Mittal" matTooltip="Hackerrank Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="Hackerrank Icon" svgIcon="Hackerrank_Icon" class="btn-hackerrank"></mat-icon>
            </a>
            <a href="https://www.linkedin.com/in/himittal09/" rel="noreferrer" target="_blank" aria-label="LinkedIn Profile of Himanshu Mittal" matTooltip="LinkedIn Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="LinkedIn Icon" svgIcon="LinkedIn_Icon" class="btn-linkedin"></mat-icon>
            </a>
            <a href="https://stackoverflow.com/users/6152976/himanshu-mittal" rel="noreferrer" target="_blank" aria-label="StackOverflow Profile of Himanshu Mittal" matTooltip="StackOverflow Profile of Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="StackOverflow Icon" svgIcon="StackOverflow_Icon" class="btn-stackoverflow"></mat-icon>
            </a>
            <a href="mailto:himittal09@gmail.com" target="_top" aria-label="Email of Himanshu Mittal" matTooltip="Email Himanshu Mittal">
              <mat-icon aria-hidden="false" aria-label="Email Icon" class="btn-email">email</mat-icon>
            </a>
          </div>
          <div class="mat-h3 resume">
            <button type="button" mat-flat-button color="primary" (click)="getResume()" aria-label="Resume">Resume</button>
          </div>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
          <div class="expertise">
            <div class="mat-h2">Major Expertise</div>
            <mat-chip-list aria-label="Other Expertise" class="other-expertise">
              <mat-chip>C++</mat-chip>
              <mat-chip>MongoDB</mat-chip>
              <mat-chip>Angular</mat-chip>
              <mat-chip>Nodejs</mat-chip>
              <mat-chip>Firebase</mat-chip>
            </mat-chip-list>
            <div class="mat-h2">Other Expertise</div>
            <mat-chip-list aria-label="Other Expertise" class="other-expertise">
              <mat-chip>PostgreSQL</mat-chip>
              <mat-chip>Java</mat-chip>
              <mat-chip>Bootstrap</mat-chip>
              <mat-chip>Material</mat-chip>
              <mat-chip>Socket.IO</mat-chip>
            </mat-chip-list>
          </div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="mat-h2">No Work Experience</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-8 col-xl-9 col-md-12 bottom-offset">
      <main id="main">
        <nav role="tablist" aria-owns="tab-1 tab-2 tab-3" mat-tab-nav-bar mat-stretch-tabs color="primary" dynamicHeight>    
          <a mat-tab-link
              routerLink="/"
              id="tab-1"
              routerLinkActive
              #rla="routerLinkActive"
              [active]="rla.isActive"
              [routerLinkActiveOptions]="{ exact: true }">Home</a>
          <a mat-tab-link
              routerLink="/projects"
              id="tab-2"
              routerLinkActive
              #rla2="routerLinkActive"
              [active]="rla2.isActive">Projects</a>
          <a mat-tab-link
              routerLink="/achievements"
              id="tab-3"
              routerLinkActive
              #rla3="routerLinkActive"
              [active]="rla3.isActive">Achievements</a>
        </nav>

        <mat-card class="mat-elevation-z4">
          <router-outlet></router-outlet>
        </mat-card>
      </main>      
    </div>
  </div>
</div>