@import '~@angular/material/theming';

@mixin home-component-theme($config-or-theme) {
  
  $config: mat-get-color-config($config-or-theme);

  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $is-dark: map-get($config, is-dark); // true for light theme, false for dark theme
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
    
  $typography-config: mat.get-typography-config($config-or-theme);
  $my-font-family: mat.font-family($typography-config);

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bottom-offset {
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  .page-header-image {
    width: 100%;
    z-index: -1;
    height: 200px;
    position: relative;
    object-fit: cover;
  }

  .info-card-container {
    margin-top: -100px !important;
    mat-card {
      mat-card-header {
        display: block !important;
        * {
          text-align: center;
        }
        .mat-h2, .mat-h3, .mat-h4 {
          padding: 0;
          margin: 0;
        }
        span > * {
          vertical-align: middle;
        }
        a mat-icon {
          margin: 0 5px;
        }
        .name {
          font-weight: 600;
        }
        .location {
          padding: 7px 0;
        }
        .social {
          padding: 10px 0;
        }
        .profile-image-section {
          margin-top: -75px;
          img {
            border-radius: 50%;
            border: 3px solid map-get($map: $background, $key: card);
            height: 160px;
            width: 160px;
          }
        }
      }
      .mat-divider-inset {
        margin: 16px 0 !important;
      }
      
      mat-card-content {
        div.mat-h2 {
          margin-bottom: 5px;
        }
        .expertise-item {
          padding: 3px 0;
        }
        span.text {
          display: inline-block;
          width: 100px;
        }
        .mat-standard-chip {
          min-height: 30px;
        }
        mat-chip-list {
          mat-chip {
            margin-top: 10px;
          }
        }
      }  
    }
  }
    
  main {
    nav {
      max-width: 2000px;
    }
  }
  
  .btn-linkedin {
    color: #0077B5;
    &:hover, &:focus, &:active {
      color: #00669c;
    }
  }
  .btn-hackerrank {
    color: #1ba94c;
    &:hover, &:focus, &:active {
      color: #168b3f;
    }
  }
  .btn-github {
    color: #211F1F;
    &:hover, &:focus, &:active {
      color: #111010;
    }
  }
  .btn-stackoverflow {
    color: #ed7c23;
    &:hover, &:active, &:focus {
      color: #d6650f;
    }
  }
  .btn-email {
    color: #ec6357;
    &:hover {
      color: #ea4134;
    }
  }
}